<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Carousel Template{% endblock %}</title>

    {% block stylesheets %}
    <link href="{{ asset('/assets/css/style.css')}}" rel="stylesheet">
    <link href="{{ asset('/assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('/assets/css/custom.css')}}" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    {% endblock %}
</head>

<body>

    {# Include du header (nav) #}
    {% include 'layout/header.html.twig' %}

    <main>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
            {% block body %}{% endblock %}
    </main>

    {# Include du footer #}
    {% include 'layout/footer.html.twig' %}

    {% block javascripts %}
    <script src="{{ asset('/assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('/assets/js/global.js') }}"></script>
    {% endblock %}
</body>

</html>

 